[access]
	inheritFrom = All-Projects
[project]
	description = Redfish-based API tool for managing bare-metal systems via the Redfish API
[access "refs/*"]
	owner = group user/Gonzalo Rafuls (grafuls)
[access "refs/for/refs/*"]
	read = group user/Gonzalo Rafuls (grafuls)
	push = group user/Gonzalo Rafuls (grafuls)
	label-Code-Review = -2..+2 group user/Gonzalo Rafuls (grafuls)
	label-Verified = -1..+1 group user/Gonzalo Rafuls (grafuls)
	rebase = group user/Gonzalo Rafuls (grafuls)
	removeReviewer = group user/Gonzalo Rafuls (grafuls)
	submit = group user/Gonzalo Rafuls (grafuls)
[access "refs/heads/*"]
	read = group user/Gonzalo Rafuls (grafuls)
	create = group user/Gonzalo Rafuls (grafuls)
	push = +force group user/Gonzalo Rafuls (grafuls)
	pushMerge = group user/Gonzalo Rafuls (grafuls)
[access "refs/tags/*"]
	push = group user/Gonzalo Rafuls (grafuls)
	push = +force group user/Gonzalo Rafuls (grafuls)
