## Python requirements for running badfish test suite.
##
##    pip install --requirement=test-requirements.txt
##

requests==2.20.1
pytest==6.2.5
requests-mock==1.5.2
asynctest==0.13.0
pyyaml>=3.10
aiohttp>=3.7.4
pillow>=6.2.2
