name: Create Source tarball

on:
  push:
    branches:
      - master

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Create versioned tarball
      id: create-tarball
      run: |
        make tarball
        echo "tarball_name=$(ls python3-pybadfish-*.tar.gz | head -n1)" >> $GITHUB_OUTPUT
        echo "version=$(ls python3-pybadfish-*.tar.gz | sed 's/python3-pybadfish-\(.*\)\.tar\.gz/\1/')" >> $GITHUB_OUTPUT
      working-directory: rpm

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: source-tarball
        path: rpm/python3-pybadfish-*.tar.gz

    - name: Create Release and Upload Asset
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release create "v${{ steps.create-tarball.outputs.version }}" \
          --title "Release ${{ steps.create-tarball.outputs.version }}" \
          --notes "Release ${{ steps.create-tarball.outputs.version }}" \
          --repo ${{ github.repository }}
          
        gh release upload "v${{ steps.create-tarball.outputs.version }}" \
          "rpm/${{ steps.create-tarball.outputs.tarball_name }}" \
          --clobber \
          --repo ${{ github.repository }}
